<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>813881493956-8ivos9cpkl6l046jkk674q3eek280do1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.813881493956-8ivos9cpkl6l046jkk674q3eek280do1</string>
	<key>API_KEY</key>
	<string>AIzaSyAF3NiknRcgjnPVAE7ndccOhdckQHQawh8</string>
	<key>GCM_SENDER_ID</key>
	<string>813881493956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rezicurePharmaceuticals.app</string>
	<key>PROJECT_ID</key>
	<string>resicure-pharmaceuticals</string>
	<key>STORAGE_BUCKET</key>
	<string>resicure-pharmaceuticals.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:813881493956:ios:10634d79099feb879d3c91</string>
</dict>
</plist>